*.swp
*.pyc
*.py~
*.pyc

.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/
__pycache__/
experiment/__*

# Virtualenv
/env

# Generated demo data (exclude from git)
/demo_data/

*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk

*.egg-info
.cache

MUJOCO_LOG.TXT


